/*
Colors Variables
 */

$red: #E60000;
$light-grey: #FBFBFB;
$dark-grey: #74798C;
$opaque-white: rgba(255, 255, 255, 0.5);
$light-black: #282D30;

$calories-icon-bg: rgba(255,0,0, 0.1); //#FF0000;
$proteins-icon-bg: rgba(74, 184, 255, 0.1); //#4AB8FF;
$carbs-icon-bg: rgba(249, 206, 35, 0.1); //#F9CE23;
$fats-icon-bg: rgba(253, 81, 129, 0.1); //#FD5181;

