//.app-container {
//  border: 5px solid blue;
//}

  //header {
  //  border: 5px solid orange;
  //}

  //.main-container {
  //  border: 5px solid purple;
  //}
    //
    //.sidebar {
    //  border: 5px solid pink;
    //    ul {
    //      border: 5px solid blue;
    //    }
    //    p {
    //      border: 5px solid red;
    //    }
    //}

    //.main-content {
    //  border: 5px solid dodgerblue;
    //
    //}


      .user-greetings {
        border: 5px solid greenyellow;
      }

      .dashboard {
        border: 5px solid rebeccapurple;
      }

        .chart_widgets {
          border: 5px solid yellow;
        }
          .daily-activity-chart {
            border: 5px solid orange;
          }
          .widgets-container {
            border: 5px solid brown;
          }
          .widget {
            border: 5px solid black;
          }

        .nutrition{
          border: 5px solid green;
        }

