.main-container {
  display: flex;
  flex-grow: 1;
}

.main-content {
  @include layout(column, flex-start, stretch);
  width: 100%;
  padding: 50px 100px;
  gap: 30px;
  @media screen and (max-width: 1245px){
  padding: 50px;
  }
}