@charset "UTF-8";
/*
Colors Variables
 */
/* reset global settings */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, sans-serif;
}

h1, h2, h3, p {
  margin: 0;
}

/* reset bullets */
ul {
  list-style-type: none;
  margin: 0; /* remove default margin */
  padding-left: 0; /* remove 40px default padding that comes with ul bullets */
}

/* reset links */
a {
  text-decoration: none;
  color: inherit;
}

.nutrition-informations :nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.nutrition-informations :nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.sidebar p {
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  background-color: black;
  color: white;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  gap: 20px;
}
.sidebar li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
}
.sidebar p {
  /* change orientation du texte de manière à ce qu'il soit écrit en vertical de manière à ce que le texte soit lisible en penchant la tete vers la gauche
   */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.sidebar img {
  width: 32px;
  height: 32px;
}

.user-greeting {
  margin-bottom: 20px;
}

.username {
  color: #E60000;
}

.widget {
  flex: 1 1 200px;
  margin: 10px;
  padding: 20px;
  background-color: lightgray;
}

.widgets-container {
  display: flex;
  flex-wrap: wrap;
}

.nutrition-stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 258px;
  height: 100%;
  gap: 20px;
}
.nutrition-stats > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #FBFBFB;
}

.nutrition-stats .icon-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.nutrition-stats .icon-background img {
  width: 20px;
  height: 20px;
}

.nutrition-calories .icon-background {
  background-color: rgba(255, 0, 0, 0.1);
}

.nutrition-proteins .icon-background {
  background-color: rgba(74, 184, 255, 0.1);
}

.nutrition-carbs .icon-background {
  background-color: rgba(249, 206, 35, 0.1);
}

.nutrition-fats .icon-background {
  background-color: rgba(253, 81, 129, 0.1);
}

.nutrition-informations :nth-child(2) {
  color: #74798C;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-width: 1024px;
  max-width: 1440px;
  min-height: 780px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-grow: 1;
}

.app-container {
  border: 5px solid blue;
}

header {
  border: 5px solid orange;
}

.main-container {
  border: 5px solid purple;
}

.sidebar {
  border: 5px solid pink;
}
.sidebar ul {
  border: 5px solid blue;
}
.sidebar p {
  border: 5px solid red;
}

.main-content {
  border: 5px solid dodgerblue;
}

.user-greetings {
  border: 5px solid greenyellow;
}

.dashboard {
  border: 5px solid rebeccapurple;
}

.chart_widgets {
  border: 5px solid yellow;
}

.daily-activity-chart {
  border: 5px solid orange;
}

.widgets-container {
  border: 5px solid brown;
}

.widget {
  border: 5px solid black;
}

.nutrition {
  border: 5px solid green;
}

/*# sourceMappingURL=style.css.map */
