@charset "UTF-8";
/*
Colors Variables
 */
/* reset global settings */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, sans-serif;
}

h1, h2, h3, p {
  margin: 0;
}

/* reset bullets */
ul {
  list-style-type: none;
  margin: 0; /* remove default margin */
  padding-left: 0; /* remove 40px default padding that comes with ul bullets */
}

/* reset links */
a {
  text-decoration: none;
  color: inherit;
}

header {
  font-size: 24px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  /* lettres plus écartées */
  letter-spacing: 2px;
}

.sidebar p {
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

/*=== user greetings ===*/
.user-greetings h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.user-greetings p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

/*=== nutrition ===*/
.nutrition-informations :nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1024px) {
  .nutrition-informations :nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }
}

.nutrition-informations :nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

/*=== daily activity chart ===*/
.daily-activity-chart h3 {
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.daily-activity-chart .legend-text {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.daily-activity-chart .custom-tooltip p {
  font-size: 7px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.average-sessions-chart {
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.average-sessions-chart h3 {
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 2;
}

.performance-chart {
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.score-chart h3 {
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.score-chart .progress-percentage {
  font-size: 26px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.score-chart .progress-label {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

/* (daily activity) chart & widgets + nutrition */
.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

/* (daily activity) chart & widgets */
.chart_widgets {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
}

/* daily activity chart */
.daily-activity-chart {
  background-color: #FBFBFB;
  padding: 20px;
}
.daily-activity-chart h3 {
  position: relative;
  top: 20px;
}
.daily-activity-chart .legend-text {
  color: #74798C;
}
.daily-activity-chart .custom-tooltip {
  background-color: #E60000;
  padding: 10px;
}
.daily-activity-chart .custom-tooltip p {
  color: white;
  text-align: center;
  margin: 15px 0;
  line-height: 1.5;
}

/* 3 elements below the daily activity chart */
.widgets-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 20px;
}

.average-sessions-chart, .performance-chart, .score-chart {
  border-radius: 10px;
  width: 258px;
  margin: 0;
}

.average-sessions-chart {
  background-color: #E60000;
  color: rgba(255, 255, 255, 0.5);
}
.average-sessions-chart h3 {
  position: absolute;
  top: -230px;
  left: 20px;
  width: 75%;
}

.performance-chart {
  background-color: #282D30;
}

.score-chart {
  background-color: #FBFBFB;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px 25px 25px;
  background-color: black;
  color: white;
}
.header .logo_name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header .logo_name span {
  color: #E60000;
}
.header nav {
  width: 75%;
}
.header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: 0 20px;
  background-color: black;
  color: white;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  gap: 20px;
}
.sidebar li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
}
.sidebar p {
  /* change orientation du texte de manière à ce qu'il soit écrit en vertical de manière à ce que le texte soit lisible en penchant la tete vers la gauche
   */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.sidebar img {
  width: 32px;
  height: 32px;
}

.user-greeting {
  margin-bottom: 20px;
}

.username {
  color: #E60000;
}

.nutrition {
  width: 25%;
}

.nutrition-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  gap: 20px;
}
.nutrition-stats > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: #FBFBFB;
}

.nutrition-stats .icon-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  min-width: 35px;
  min-height: 35px;
  border-radius: 10px;
}
.nutrition-stats .icon-background img {
  width: 20px;
  height: 20px;
}

.nutrition-calories .icon-background {
  background-color: rgba(255, 0, 0, 0.1);
}

.nutrition-proteins .icon-background {
  background-color: rgba(74, 184, 255, 0.1);
}

.nutrition-carbs .icon-background {
  background-color: rgba(249, 206, 35, 0.1);
}

.nutrition-fats .icon-background {
  background-color: rgba(253, 81, 129, 0.1);
}

.nutrition-informations :nth-child(2) {
  color: #74798C;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-width: 1024px;
  max-width: 1440px;
  min-height: 780px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-grow: 1;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  padding: 50px 100px;
  gap: 30px;
}

.error404 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

/*# sourceMappingURL=style.css.map */
