/* (daily activity) chart & widgets + nutrition */
.dashboard {
  @include layout(row, space-between, stretch);
  gap: 20px;
  @media screen and (max-width: 1024px) {
    @include layout(column, flex-start, stretch);
  }
}

/* (daily activity) chart & widgets */
.chart_widgets {
  @include layout(column, flex-start, stretch);
  gap: 20px;
}

/* daily activity chart */

.daily-activity-chart {
  background-color: $light-grey;
  padding: 20px;

  h3 {
    position: relative;
    top: 20px;
  }

  .legend-text {
    color: $dark-grey;
  }

  .custom-tooltip {
    background-color: $red;
    padding: 10px;

    p {
      color: white;
      text-align: center;
      margin: 15px 0;
      line-height: 1.5;
    }
  }
}

/* 3 elements below the daily activity chart */
.widgets-container {
  @include layout(row, space-between, stretch);
  flex-wrap: nowrap;
  gap: 20px;
}

.average-sessions-chart, .performance-chart, .score-chart {
  border-radius: 10px;
  width: 258px;
  margin: 0;
}

.average-sessions-chart {
  background-color: $red;
  color: rgba(255, 255, 255, 0.5);

  h3 {
    position: absolute;
    top: -230px;
    left: 20px;
    width: 75%;
  }
}

.performance-chart {
  background-color: $light-black;
}

.score-chart {
  background-color: #FBFBFB;
}

