.header {
  @include layout(row, space-between, center);
  padding: 25px 100px 25px 25px;
  background-color: black;
  color: white;

  .logo_name {
    @include layout(row, center, center);
    gap: 20px;

    span {
      color: $red;
    }
  }

  nav  {
    width: 75%;
  }

  nav ul {
    @include layout(row, space-between, center);
    gap: 20px;
  }
}

