.sidebar {
    @include layout(column, center, center);
  width: 80px;
  padding: 0 20px;
  background-color: black;
  color: white;

  ul {
    @include layout(column, center, center);
    height: 70%;
    gap: 20px;

  }

  li {
    @include layout(row, center, center);
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
  }

  p {
    /* change orientation du texte de manière à ce qu'il soit écrit en vertical de manière à ce que le texte soit lisible en penchant la tete vers la gauche
     */
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  img {
    width: 32px;
    height: 32px;
  }
}